/* header */
.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8em 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    width: 100%;
  }
  .header ul{
      display: inline-flex;
      list-style: none;
      justify-content: space-between;
      align-items: center;
  }
  .header ul li{
      margin-right: 1em;
  }
  .links{
      text-decoration: none;
      color: #999;
      font-weight: 600;
  }
  .links:hover, .links.active{
      color: #333;
  }
  .logo{
      font-size: 1.3rem;
      font-weight: bold;
      color: #333;
  }
  .search input{
      padding: .5em;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;
  }
  .search button{
      padding: .5em;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #333;
      color: #fff;
  }

  .hamBurgerMenu{
    display: none;
  }
  .hamBurgerMenu .bar{
        width: 25px;
        height: 3px;
        background-color: #333;
        margin: 5px 0;
  }

  .hamBurgerMenu:hover{
      cursor: pointer;
  }

  @media screen and (max-width: 768px){
    .header{
        padding: .8em 5%;
    }
    .header ul{
        display: none;
    }
    .hamBurgerMenu{
        display: block;
    }
    .logo{
        font-size: 1.2rem;
    }
    .search input{
        width: 70%;
    }
    .search button{
        width: 25%;
    }
  }
  