/* home page */
.postLists{
    width: 90%;
    height: calc(100vh - 130px);
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.postLists .card{
    width: 30%; 
}

.paginationControl{
    display: flex;
    justify-content: center;
    align-item: center;
    padding: .5em;
    height: 50px;
}
.paginationBtn {
    padding: 8px 10px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    opacity: .4;
}
.paginationBtn:hover{
    opacity: 1;
}
.paginationBtn.active{
    opacity: 1;
    background: white;
}

@media screen and (max-width: 768px){
    .postLists{
        width: 100%;
    }
    .postLists .card{
        width: 45%;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 500px){
    .postLists .card{
        width: 100%;
    }
}