/*  login page */
.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8em;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}
.loginPageContent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: .8em;
    width: 400px;
    margin: 0 auto;
    background-color: #f9f9f9;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}
.loginPage h1{
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #333;
}
.loginPage form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.inputField{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
    width: 100%;
}
.inputField input{
    padding: .8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: .5em;
    width: 100%;
}
.submit{
    padding: .8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    margin: .5em 0;
    width: 100%;
}
.textBtns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    padding: .5em;
}
.textBtns .textButton{
    color: #333;
    margin-bottom: .4em;
}

